<div class="span-22 last">
  <div id="section_photos" class="prepend-top append-bottom text-wrapper round with-border">
    <p>
      <span class="post_header emphase">Concert du 17/10/2010 au Be There</span><br/>
      <span class="small">Photos 8 à 30 par Mélanie Tatté</span>
    </p>
    <hr/>
    <%= link_to image_tag('photos/thumbnails/bethere_0_thumb.JPG'), 'images/photos/bethere_0.JPG', :title => 'Be There - 1', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_1_thumb.JPG'), 'images/photos/bethere_1.JPG', :title => 'Be There - 2', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_2_thumb.JPG'), 'images/photos/bethere_2.JPG', :title => 'Be There - 3', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_3_thumb.JPG'), 'images/photos/bethere_3.JPG', :title => 'Be There - 4', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_4_thumb.JPG'), 'images/photos/bethere_4.JPG', :title => 'Be There - 5', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_5_thumb.JPG'), 'images/photos/bethere_5.JPG', :title => 'Be There - 6', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_6_thumb.JPG'), 'images/photos/bethere_6.JPG', :title => 'Be There - 7', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_7_thumb.JPG'), 'images/photos/bethere_7.JPG', :title => 'Be There - 8', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_8_thumb.JPG'), 'images/photos/bethere_8.JPG', :title => 'Be There - 9', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_9_thumb.JPG'), 'images/photos/bethere_9.JPG', :title => 'Be There - 10', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_10_thumb.JPG'), 'images/photos/bethere_10.JPG', :title => 'Be There - 11', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_11_thumb.JPG'), 'images/photos/bethere_11.JPG', :title => 'Be There - 12', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_12_thumb.JPG'), 'images/photos/bethere_12.JPG', :title => 'Be There - 13', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_13_thumb.JPG'), 'images/photos/bethere_13.JPG', :title => 'Be There - 14', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_14_thumb.JPG'), 'images/photos/bethere_14.JPG', :title => 'Be There - 15', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_15_thumb.JPG'), 'images/photos/bethere_15.JPG', :title => 'Be There - 16', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_16_thumb.JPG'), 'images/photos/bethere_16.JPG', :title => 'Be There - 17', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_17_thumb.JPG'), 'images/photos/bethere_17.JPG', :title => 'Be There - 18', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_18_thumb.JPG'), 'images/photos/bethere_18.JPG', :title => 'Be There - 19', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_19_thumb.JPG'), 'images/photos/bethere_19.JPG', :title => 'Be There - 20', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_20_thumb.JPG'), 'images/photos/bethere_20.JPG', :title => 'Be There - 21', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_21_thumb.JPG'), 'images/photos/bethere_21.JPG', :title => 'Be There - 22', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_22_thumb.JPG'), 'images/photos/bethere_22.JPG', :title => 'Be There - 23', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_23_thumb.JPG'), 'images/photos/bethere_23.JPG', :title => 'Be There - 24', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_24_thumb.JPG'), 'images/photos/bethere_24.JPG', :title => 'Be There - 25', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_25_thumb.JPG'), 'images/photos/bethere_25.JPG', :title => 'Be There - 26', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_26_thumb.JPG'), 'images/photos/bethere_26.JPG', :title => 'Be There - 27', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_27_thumb.JPG'), 'images/photos/bethere_27.JPG', :title => 'Be There - 28', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_28_thumb.JPG'), 'images/photos/bethere_28.JPG', :title => 'Be There - 29', :rel => 'lightbox[bethere]' %>
    <%= link_to image_tag('photos/thumbnails/bethere_29_thumb.JPG'), 'images/photos/bethere_29.JPG', :title => 'Be There - 30', :rel => 'lightbox[bethere]' %>
    </p>
  </div>
  <div id="section_videos" style="display:none;" class="prepend-top append-bottom text-wrapper round with_border">
    <p>
      <span class="post_text prepend-8">Prochainement en ligne...</span><br/>
    </p>
  </div>
  <div id="section_audio" style="display:none;" class="prepend-top append-bottom text-wrapper round with_border">
    <p>
      <span class="post_text prepend-8">Prochainement en ligne...</span><br/>
    </p>
  </div>
</div>
